*.FBX filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
*.asset filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*/metadata/* filter=lfs diff=lfs merge=lfs -text
*/df/* filter=lfs diff=lfs merge=lfs -text
*.resource filter=lfs diff=lfs merge=lfs -text
*.info filter=lfs diff=lfs merge=lfs -text
cd8dc37d98f118742bc9ce2dc9e7d3c6 filter=lfs diff=lfs merge=lfs -text
105c9b2d56cc3884e914487e5aa8330e filter=lfs diff=lfs merge=lfs -text
2e7f18fb1657b5f439559b666cfe049d filter=lfs diff=lfs merge=lfs -text
2f0f329b4be45984896db098293eabf3 filter=lfs diff=lfs merge=lfs -text
4d351b477cd7f8e48885e3c0e38d2185 filter=lfs diff=lfs merge=lfs -text
6d781761fc763f2418e599d6a5514eb8 filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
85ce6fa0f3592d94fae9914f97415804 filter=lfs diff=lfs merge=lfs -text
82d7ad5d7d790b14f8fa78130b5758c6 filter=lfs diff=lfs merge=lfs -text
9de1627096a9a334f91aaf0bf45b1e08 filter=lfs diff=lfs merge=lfs -text
9caf983da889ceb4f92a2aea586965cf filter=lfs diff=lfs merge=lfs -text
a94b292a691a7fd42aa050bda7176d17 filter=lfs diff=lfs merge=lfs -text
a443f7c353785b44c845d90c67f6688b filter=lfs diff=lfs merge=lfs -text
af8af9934764fa040bfac2fcb195adad filter=lfs diff=lfs merge=lfs -text
dee1e7466c3378e4fb1f1dbf4c1987bf filter=lfs diff=lfs merge=lfs -text
dc110add64a37af49bd7b394c1f304ff filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
eb265cbcab8c197498a2ce760d105a5a filter=lfs diff=lfs merge=lfs -text
feb99102369e82e47aa47ecdf7deae19 filter=lfs diff=lfs merge=lfs -text
fb112234c7b355b498ab337f4b30db3e filter=lfs diff=lfs merge=lfs -text
f5e9df4fe4112744d8a850d11ab9fbcc filter=lfs diff=lfs merge=lfs -text
571b979c1194111419d1e2a70d848e07 filter=lfs diff=lfs merge=lfs -text
3c278705f7d9f5e4aa66238d87f42803 filter=lfs diff=lfs merge=lfs -text
*.backup filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
